/* background color for the game
layout of how i want the game to look where i want messages to pop out
where the scoreboard should be 
font style 
special hover events 
match animation 
 */
/* font-family: 'Faster One', cursive;
font-family: 'Rye', cursive;
font-family: 'Yuji Syuku', serif; */

@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Rye&family=Yuji+Syuku&display=swap');

html {
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: radial-gradient(#1982C4, #c45b19);
}

.page-title {
    color: #26c026;
    font-family: 'Rye', cursive;
    text-align: center;
    font-size: 4em;

}

.game-info {
    font-family: 'Yuji Syuku', serif;
    color: #e8f5fc;
    font-size: 3em;
}

.game-container {
   display: grid; 
   grid-template-columns: repeat(4,auto);
   grid-gap: 10px;
   margin: 50px;
   justify-content: center;
}
.card {
    position: relative;
    background-color: white;
    height: 150px;
    width: 100px;
    overflow: hidden;
}
.info-container{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
}
.timer{
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
}

.scorpio{
    height: 150px;
    width: 150px;
}